$mainColor = #e10a0a

.root
  align-items center
  margin-top 2u
  flex-grow 1
  flex-shrink 1
  background-color #e6e6e6

  +desktop()
    max-width 30%

.logo
  background-color #fff
  width 100%
  align-items center
  padding 2u

.image
  width 221px
  height 35px

.mlsh
  text-transform uppercase
  margin-top 1u
  color $mainColor

.menu
  background-color #efefef
  padding 2u
  width 100%

.item
  align-items center
  justify-content center
  flex-direction column

  &.first
    margin-left 0

.title
  color $mainColor
  text-transform uppercase
  margin-top 1u
  font(l)
  font-weight 300
  max-width 10u
  text-align center

.icon
  color $mainColor