.root
  width 100%
  text-align center
  align-items center

.text
  color #e10a0a
  text-transform uppercase
  font-weight 300

  &.type
    letter-spacing 1px
    font-size 16px
    line-height 16px

  &.title
    letter-spacing 2px
    font-size 36px
    line-height 36px

.line
  width 12u
  height 1px
  background-color #d0d0d0
  margin-top 2u