$main = #e10a0a
$textColor = #3e4657

.root
  width 100%

.events
  margin-top 2u

.event
  margin-top 2u
  
  &.first
    margin-top 0

.date
  background-color #fff
  padding 2u
  text-align center

.day
  color $main
  text-transform uppercase

  &.week
  &.month
    line-height 2u

  &.number
    font-size 26px
    letter-spacing -1px
    margin-top .5u

.content
  height 100%
  justify-content center
  margin-left 2u
  flex 1

.text
  font-size 16px
  
  &.title
    text-transform uppercase
    color $main

  &.orgs
    text-transform uppercase
    color $textColor

  &.time
    color $textColor

.icon
  color $main

.divider
  margin 2u 0 0