$menuHeight = 6u
$logoColor = #FCB69D
$mainColor = #e10a0a

.menu
  margin-top 5u
  align-items flex-start

.socials
  margin-top 5u

.row
  height $menuHeight
  z-index 1
  padding 0 2u
  border-bottom-width 1px
  border-bottom-color white
  max-width 160u
  align-self center
  width 100%

.sidebar
  background-color $mainColor

.wrapper
  flex-grow 1
  padding 2u 0

.logo
  color: $UI.colors.secondaryText
  font(xl)

.button
  color $mainColor

.name
  +wide()
    display none

.avatar
  margin-left 1u

.body
  flex-grow 1
  background-color #e6e6e6
