$mainColor = #e10a0a

.root
  align-items flex-start
  background-color #efefef
  padding 2u
  border-bottom 1px solid #d0d0d0

.reply
  width 100%
  margin-top 2u

  &.first
    margin-top 0

.avatar
  width 4u
  height @width
  radius(circle)

.container
  padding-bottom 1u
  border-bottom 1px solid #d0d0d0
  flex 1
  margin-left 2u
  justify-content space-between

.content
  flex-shrink 1

.name
  color $mainColor

  +desktop()
    font(l)

.text
  font-weight 300

  +desktop()
    font(l)

.hashtag
  color $mainColor

  +desktop()
    font(l)

.description
  margin-top 1u
  font(s)

  +desktop()
    font()

.delete
  color $mainColor
  padding 1u
  min-height 0

.actions
  width 100%

  &.marginTop
    margin-top 2u

.input
  margin 0 3u 0 2u
  flex-grow 1
  font(s)
  border-radius 0
