$triangleSize = 1u

.root
  align-items flex-start
  justify-content space-between
  flex-direction row
  background-color #efefef
  width 100%

  +tablet()
    justify-content flex-start

.tab
  flex-grow 1
  height 6u

.button
  border-radius 0
  height 100%

.label
  text-transform uppercase
  color #c00
  font(s)

.triangle
  position absolute
  left 0
  right 0
  bottom 0
  margin auto
  width 0
  height 0
  backgroundColor transparent
  borderStyle solid
  borderLeftWidth $triangleSize
  borderRightWidth $triangleSize
  borderBottomWidth $triangleSize
  borderLeftColor transparent
  borderRightColor transparent
  borderBottomColor #fff