$main = #e10a0a

.root
  width 100%
  margin-top 4u

.events
  margin-top 2u

.event
  margin-top 2u

  &.first
    margin-top 0

.image
  width 8u
  height @width

.content
  height 100%
  justify-content center
  margin-left 2u
  flex 1

.text
  font(l)
  
  &.title
    text-transform uppercase
    color $main

  &.orgs
    text-transform uppercase
    color #3e4657

  &.time
    color #3e4657

.icon
  color $main

.divider
  margin 2u 0 0