$mainColor = #c00

.root
  align-items flex-start

.suggestions
  background-color #fff
  width 100%

.suggestion
  padding 2u

.numberWrapper
  width 5u
  height @width 
  padding 1u
  border 1px solid black
  radius(circle)
  align-items center
  justify-content center

  +desktop()
    width 7u
    height @width

  +wide()
    width 9u
    height @width

.number
  font(l)
  font-weight 300

  +desktop()
    font(xl)

  +wide()
    font-weight normal
    font(xxl)

.content
  margin-left 2u
  flex 1

.title
  text-transform uppercase
  font-weight bold

  +desktop()
    font(l)

.nameWrapper
  margin-top 1u

.user
  color $mainColor

  +desktop()
    font(l)

.time
  margin-left 1u
  font(s)

  +desktop()
    font()

.text
  font-weight 300
  margin-top 1u

  +desktop()
    font(l)

.actions
  margin-top 1u

.button
  padding 0 1u
  color $mainColor
  text-transform uppercase

  &.icon
    padding 0

.action
  margin-left .5u
  color $mainColor
  text-transform uppercase

  &.count
    font-weight 300
    color #3e4657

.replies
  margin-top 1u
