$textColor = #c00

.root
  align-items flex-start
  padding 2u
  background-color #f7f7f7
  
  +desktop()
    padding 2u 3u

.title
  text-transform uppercase
  color $textColor
  letter-spacing .5u
  font(xl)

  +desktop()
    font(xxxl)
    font-weight 300

.subtitle
  text-transform uppercase
  color $textColor
  margin-top 1u
  letter-spacing 2px
  font-weight 300
  
  +desktop()
    font(l)
    letter-spacing 2px

.input
  margin-top 2u
  width 100%
  border-radius 0

.bottom
  width 100%
  margin-top 2u
  justify-content space-between
  
  +desktop()
    flex-direction row-reverse

.btn
  text-transform uppercase
  border-radius 0

  +desktop()
    width 14u

.btnText
  +desktop()
    font(l)


.description
  font(s)
  margin-top 1u

  +desktop()
    margin-top 0

.link
  text-transform uppercase
  text-decoration none
  color $textColor