.root
  flex-grow 1

.bg
  position absolute
  top 0
  left 0
  right 0
  margin auto
  align-items center
  justify-content center
  text-align center
  width 2000px
  height 850px

.content
  padding 2u

.row
  justify-content center

  +desktop()
    justify-content space-between

.headerWrapper
  display none

  +desktop()
    display flex
    flex 1
    flex-wrap wrap
    margin-top 6u
    margin-left 4u

  +wide()
    flex-direction row
    justify-content space-between
    padding 0

.menu
  flex-grow 1

.user
  display none
  margin-left 2u

  +wide()
    display flex
    flex 1
    flex-wrap wrap-reverse
    justify-content flex-end

.nameWrapper
  text-align right 

.name
  color #fff
  text-transform uppercase

  &.greeting
    letter-spacing .5px

.avatar
  margin-left 2u

.title
  margin-top 4u
  color #fff
  text-transform uppercase
  font-weight 300
  letter-spacing 1u
  text-align center

  +desktop()
    text-align left

.form
  margin-top 5u

  +desktop()
    margin-top 0

.main
  flex-grow 1

  +desktop()
    margin-top 5u
    flex-direction row

.left
  flex-grow 1
  flex-shrink 1

  +desktop()
    flex-basis 0%

.right
  margin-top 0
