.root
  align-items center
  flex-direction row
  justify-content space-between

  &.vertical
    flex-direction column

.menuItem
  padding 0
  margin-left 2u

  &.first
    margin-left 0

  &.vertical
    width 100%
    padding 2u
    height auto
    margin-left 0

.label
  color #fff
  text-transform uppercase
  font-size 15px

  +wide()
    font(l)